body {
    background-color: #CCD1D1;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about {
    text-decoration-line: line-through;
    font-style: italic;
}

h1 {
    text-align: left;
    margin-left: 20px;
    float: left;
    margin-top: -60px;
    font-size: 30px
}

.about-intro p {
    padding: 0 20px;
    padding-bottom: 80px;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    float: left;
    font-family: 'Raleway', sans-serif
}

img {
    width: 80%;
    float: right;
}



@media screen and (min-width: 500px) {

    img {
        width: 65%;
        transition: all ease-in-out 0.5s;
    }
  
}


@media screen and (min-width: 650px) {

    body {
        background-color: #F2F4F4;
    }

    #close-btn {
        display: block;
        position: fixed;
        right: 8%;
        top: 12%;      
        width: 15px;
        padding: 5px;
    }

    #background-greyish {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 50%;
        height: 100%;
        background-color: #CCD1D1;
        z-index: -2;
    }   

    main {
        background-color: white;
        width: 90%;
        height: 80%;
        position: fixed;
        top: 10%;
        left: 5%;
        margin: 0;
        z-index: -1;
    }

    main img {
        width: 50%;
        float: left;
    }

    .hi {
        display: none;
    }

    .about-title {
        display: block;
        margin: 0;
        padding-left: 40px;
        font-size: 30px;
        padding-top: 50px

    }

    .about-intro p {
        position: absolute;
        top: 20%;
        height: 400px;
        left: 53%;
        margin-right: 25px;
        overflow-y: scroll;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 50px;        
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background: whitesmoke; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: whitesmoke
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #CCD1D1; 
    }
        
    
    footer {
        background-color: transparent;
        width: 100%;
    }
}

@media screen and (min-width: 700px) {

    ::-webkit-scrollbar-track {
        display: none; 
    }
    
    ::-webkit-scrollbar-thumb {
        display: none
    }

}

@media screen and (min-width: 1000px) {

    #close-btn {
        right: 7%;
    }
}

@media screen and (min-width: 1284px) {

    main img {
        max-height: 580px;
    }
}

@media screen and (min-width: 1300px) {

    main {
        width: 80%;
        left: 10%
    }

    #close-btn {
        right: 11%;
    }
}

